<li><i class="fas fa-home" style="text-decoration:none; color:#fff"></i>
      <a href="/index.html" style="text-decoration:none; color:#fff">Startseite</a></li>
<li><i class="fas fa-wrench" style="text-decoration:none; color:#fff"></i>
      <a href="/leistungen.html" style="text-decoration:none; color:#fff">Unsere Leistungen</a></li>
<li><i class="fas fa-images" style="text-decoration:none; color:#fff"></i>
     <a href="/galerie.html" style="text-decoration:none; color:#fff">Galerie</a></li>
<li><i class="fas fa-gavel" style="text-decoration:none; color:#fff"></i>
     <a href="/kontakt.html" style="text-decoration:none; color:#fff">Kontakt</a></li>
<li><i class="fas fa-gavel" style="text-decoration:none; color:#fff"></i>
     <a href="/impressum.html" style="text-decoration:none; color:#fff">Impressum</a></li>
<li><i class="fas fa-gavel" style="text-decoration:none; color:#fff"></i>
     <a href="/datenschutz.html" style="text-decoration:none; color:#fff">Datenschutzerklärung</a></li>
<li><i class="fas fa-gavel" style="text-decoration:none; color:#fff"></i>
     <a href="/cookieinfo.html" style="text-decoration:none; color:#fff">Cookie-Infos</a></li>
